*{
    margin : 0;
    padding : 0;
    outline :none;
    box-sizing: border-box;
}

body{
    height:100vh;
    width: 100%;
    background:#5199e4;
}

.container{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    display: block;
    background :#fff;
    width:418px;
    padding: 30px;
    box-shadow:rgba(50,50,93,0.25) 0px 6px 12px -2px, rgba(8,8,8,8.3) 0px 3px 7px -3px;
}
.container .text{
    font-size:35px;
    font-weight: 400;
    text-align:center;
    color:#5199e4;
}
.container form{
    margin-top: -20px;
}
.container form .data{
    height:45px;
    width:100%;
    margin:48px 0;
}

form .data label{
    font-size:18px;
}

form .data input{
    height:100%;
    width:100%;
    padding-left: 10px;
}

form .data input:focus{
    border-color:#5199E4;
    border-bottom-width: 2px;
}

form .forget-pass a{
    color: #5199E4;
    text-decoration:none;
}

form .forget-pass a:hover{
    text-decoration:underline;
}

form .btn{
    margin: 30px 0;
    height:45px;
    width:100%;
}

form .btn button{
    height:100%;
    width:100%;
    background:#5199E4;
    border:none;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
}

form .signup-link{
    text-align: center;
}
form .signup-link a{
    text-decoration:none;
}
form .signup-link a:hover{
    text-decoration:underline;
}